<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="bonus">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>bonus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="koken">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>koken</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="producten">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>producten</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
